{% extends "base.html" %}

{% load static %}

{% block title %}Главная страница – архив Narod.ru{% endblock %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/search/advanced_search.css' %}">{% endblock %}

{% block content %}
    <div class="header-container">
        <h1>Расширенный поиск</h1>
    </div>
    <div>
        <form action="{% url 'advanced_search_results' %}" method="get" class="search-form">
            <div class="search-options">
                <label class="search-label">Поиск среди</label>
                <label class="search-label">
                    <input type="radio" name="search_type" value="site" class="search-radio" {% if search_type == 'site' %}checked{% endif %}>
                    сайтов
                </label>
                <label class="search-label">
                    <input type="radio" name="search_type" value="page" class="search-radio" {% if search_type == 'page' or search_type != 'site' and search_type != 'file' %}checked{% endif %}>
                    страниц
                </label>
                <label class="search-label">
                    <input type="radio" name="search_type" value="file" class="search-radio" {% if search_type == 'file' %}checked{% endif %}>
                    файлов
                </label>
            </div>
            <div class="search-controls">
                <input type="text" name="site_link" placeholder="Поиск по ссылкам сайтов" class="search-input" value="{{ site_link_query }}">
                <input type="text" name="page_text" placeholder="Поиск по тексту и заголовкам страниц" class="search-input" value="{{ page_text_query }}">
                <input type="text" name="file_link" placeholder="Поиск по ссылкам на файл" class="search-input" value="{{ file_link_query }}">
                <label class="file-extension-label">Расширение файла для поиска по файлам
                    <select name="file_extension" class="search-select">
                        <option value="">Любое</option>
                        {% for extension in file_extensions %}
                            <option value="{{ extension }}" {% if extension != None and extension == file_extension_query %}selected{% endif %}>{{ extension }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <div class="search-button-container">
                <input type="submit" value="Поиск" class="search-button">
            </div>
        </form>
        
    </div>
{% endblock %}